<!DOCTYPE html>
<html>
  <head>
    <title>mms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <%= link_to "Machine monitoring system", root_path, class: "navbar-brand col-sm-3 col-md-2 mr-0" %>
      <ul class="navbar-nav px-3"></ul>
    </nav>
    <div class="container-fluid">
      <%= render partial: 'shared/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
